python-dateutil
pydantic
python-dotenv
rich

langchain
langchain-community
langchain-core
langchain-openai
langgraph
langchain-groq

openai
googletrans
requests
groq
google-generativeai

pymongo
redis
motor

fastapi
uvicorn
aiohttp

pytest
httpx
black
isort
flake8
pre-commit
